.container {
  /* height: calc(80vh - 100px); */
  /* height: 60vh; */
  height: auto;
  background-color: #222;
  display: flex;
  margin-top: 4rem;
}

.item {
  flex: 1;
  position: relative;
  display: flex;
}

.item:last-child {
  flex: 2;
  padding: 50px;
  justify-content: space-between;
}

.card {
  /* flex: 1; */
  padding: 0 80px;
}

.card > .menu {
  cursor: pointer;
}

.title {
  font-size: 18px;
  color: #b7903c;
}

.text {
  color: lightgray;
}

@media screen and (max-width: 1200px) {
  .container {
    /* height: 52vh; */
    height: auto;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .container {
    height: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .item {
    flex-direction: column;
  }

  .title {
    font-size: 30px;
  }

  .text {
    font-size: 20px;
  }
}
